*, *::before, *::after {
    box-sizing: border-box;
    color: #0f9d18;
    font-family: 'Orbitron', 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: normal;
}

body {
    background-color: #000;
}

.grid {
    display: flex;
    flex-wrap: wrap;
    height: 10rem;
    width: 10rem;
}
.wall {
    height: 2rem;
    width: 2rem;
    background-color:blue;
}

.space {
    height: 2rem;
    width: 2rem;
    background-color: chartreuse;
    border-radius: 5rem;
    border: 5px black solid;
}

.snake {
    height: 2rem;
    width: 2rem;
    background-color: yellow;
}

.button {
    background: transparent; 
    border: 2px solid #0f9d18;
    color: #FFFF;
    font-family: 'Press Start 2P', cursive;
    padding:2rem;
    margin:2rem;
    width: fit-content;
}

/* Clicked effect (moves down slightly)  */
.button:active, .button:hover{
    background: #0000;
    border: 3px solid #0f9d18;
    box-shadow: 1px 1px 65px 12px rgba(43,102,3,0.66);
    color:#FFFF;
    -moz-box-shadow: 1px 1px 65px 12px rgba(43,102,3,0.66);
    transform: translateY(8px);
    -webkit-box-shadow: 1px 1px 65px 12px rgba(43,102,3,0.66);
}
