*, *::before, *::after {
    box-sizing: border-box;
    color: #006466;
    font-family: 'Orbitron', 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 1.3rem;
    font-weight: normal;
    text-align: center;
}

body {
    background-color: #000;
}

button {
    /* degrees - without 'to' */
    background: linear-gradient(-45deg, #8AEA92 39%, #15791E 61%);
    background-position: right bottom;
    background-size: 200% 100%;
    transition: all 0.5s ease;
    margin: 1rem 0;
}


button:hover {
    background-position: left bottom; 
    color:white;
    border: solid white 2px; 
    border-radius: 25px;
}

.grid {
    border-style: solid;
    display: flex;
    flex-wrap: wrap;
    height: 306px;
    width: 306px;
}

.grid div {
    height: 30px;
    width: 30px;
    border:#75daf6 solid 1px;
}

.apple {
    background: #4D194D
}

.body {
    opacity: 0.8;
}

.snake {
    background: #80ADA0;
}

span {
    margin: 10%;
}

.score {
    margin: 5%;
}

@mediaquery ()