*, *::before, *::after {
    box-sizing: border-box;
    color: #0f9d18;
    font-family: 'Orbitron', 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: normal;
}

body {
    background-color: #000;
}

.grid {
    border-style: solid;
    display: flex;
    flex-wrap: wrap;
    height: 306px;
    width: 306px;
}

.grid div {
    height: 30px;
    width: 30px;
    border:gray solid 1px;
}

.head {
    opacity: 0.5;
}

.snake {
    background: blue;
}

.apple {
    background: purple
}